.pronto form a{
    text-decoration: none;


}

aside{
    float: right;
    border: 1px solid pink;
    padding: 10px;
    background-color: white;
    margin: 110px 150px 0px 0px;
    box-shadow: 0px 2px 5px 2px rgb(224, 205, 205);
    border-radius: 5px;
}
main{
    padding: 150px 20px 50px 100px;
    width: 50%;
    /* border: 1px solid red; */
  
}
main h1{
    color:goldenrod;
    font-size: 60px;
}
main p{
     font-size: 30px;
     margin-top: -45px
}
aside button{
    background-color:purple;
    color: white;
    width: 322px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #1877f2;
    margin-top: 15px;
    font-size: large;
    font-weight: bold;
    

}
aside input{
    width: 310px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid pink;
    padding-left: 10px;
    font-size: 17px;
}
.a  {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
.a a{
    text-decoration: none;
}
.b{
    text-align: center;
    background-color: #00a400;
    
    margin: 20px 50px 20px 50px ; 
    padding: 10px ;  
    border: 1px;
    border-radius: 5px;
    font-weight: bold;
    font-size:20px ;
}
.b:hover{
    opacity: 0.7;
}
.b a{
    color: white;
    text-decoration:none ;
}
.c{
    float: right;
    margin-top: 15px;
    margin: 0px 180px 0px 500px;
}
.c p a{
    text-decoration: none;
    font-weight: bold;}